<%= simple_form_for @infinite do |f| %>
  <div class="form">

    <div class="mb-3">
      <%= f.input :name %>
    </div>

    <div class="mb-3">
      <%= f.input :count %>
    </div>

    <div class="mb-3">
      <%= f.input :price, step: 0.01 %>
    </div>

    <div class="mb-3">
      <%= f.input :image, as: :file %>
    </div>

    <div class="mb-3">
      <%= f.input :description %>
    </div>

    <%= f.button :submit %>
  </div>
<% end %>
