<%= simple_form_for @kilo do |f| %>
  <div class="form">

    <div class="mb-3">
      <%= f.input :title %>
    </div>

    <div class="mb-3">
      <%= f.input :body %>
    </div>

    <div class="mb-3">
      <%= f.input :weight, step: 0.01 %>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit"<%= f.button :submit %>
  </div>
<% end %>
